.headerDecor {
    position: absolute;
    width: 921px;
    height: 921px;
    left: -367px;
    top: -336px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(205, 187, 239, 0.2) 0%, rgba(196, 196, 196, 0) 100%);
    z-index: -1;
    pointer-events: none;
    @media (max-width: 525px) {
        display: none;
    }
}

.headerWrapper {
    padding: 0 80px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;

    @media (max-width: 525px) {
        padding: 0 20px;
    }
}
